

<div class="top-nav">
   <!-- <a href="#0" class="navbar-toggle collapsed">Menu<span></span></a> -->
   <button type="button" class="hamburger collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1, #bs-example-navbar-collapse-2" aria-expanded="false">
     <span>Toggle navigation</span>
    </button>

   <div class="top-nav-brand">
      <ul class="list-inline">
         <li>
            <div class="top-nav-item">
               <a>
                  <img src="img/brand-logo-chevy.jpg" alt="Logo">
               </a>
            </div>
         </li>
      </ul>
   </div>

   <div class="top-nav-vehicle">
      <ul class="list-inline">
         <li>
            <div class="top-nav-item">
               <a href="#0" data-toggle="dropdown">
                  <img src="img/vehicle.png"/>
                  My 2016 Cadillac CTS
               </a>
               <div class="top-nav-dropdown-menu">
                  <div class="title">
                     <h5>Your Vehicles</h5>
                     <a class="icon-ui-close" href=""></a>
                  </div>
                  <div class="body">
                     <div class="container">
                        <div class="row">
                           <ul class="list-inline">
                              <li class="col-xs-12 col-sm-3 vehicle">
                                 <a>
                                    <img class="img-responsive" src="https://media.carbook.com/MediaGallery/media/Mjk4NTQ2Xk1lZGlhIEdhbGxlcnk/Cmoe19M4YLsv40HdPGfyJC9XSEVttXsoW2pXYnOf5nfFkOa4j6-V4qVLJ57sjFwaqu9OhgWt8DI/cc_2012CHE023a_01_640_GAN.png" >
                                 </a>
                                 <p>2012 Chevrolet Volt</p>
      									<button type="button" class="btn btn-link noWrap">
      										View Vehicle
      									</button>
                              </li>
                              <li class="col-xs-12 col-sm-3 vehicle active">
                                 <a>
                                    <img class="img-responsive" src="https://media.carbook.com/MediaGallery/media/Mjk4NTQ2Xk1lZGlhIEdhbGxlcnk/Cmoe19M4YLsv40HdPGfyJC9XSEVttXsoW2pXYnOf5nfFkOa4j6-V4qVLJ57sjFwaqu9OhgWt8DI/cc_2012CHE023a_01_640_GAN.png" >
                                 </a>
                                 <p>2012 Chevrolet Volt</p>
      									<button type="button" class="btn btn-link noWrap">
      										View Vehicle
      									</button>
                              </li>
                              <li class="col-xs-12 col-sm-3 vehicle">
                                 <a>
                                    <img class="img-responsive" src="https://media.carbook.com/MediaGallery/media/Mjk4NTQ2Xk1lZGlhIEdhbGxlcnk/Cmoe19M4YLsv40HdPGfyJC9XSEVttXsoW2pXYnOf5nfFkOa4j6-V4qVLJ57sjFwaqu9OhgWt8DI/cc_2012CHE023a_01_640_GAN.png" >
                                 </a>
                                 <p>2012 Chevrolet Volt</p>
                                 <button type="button" class="btn btn-link noWrap">
                                    View Vehicle
                                 </button>
                              </li>

      							</ul>

                           <div class="add-vehicle">
                              <ul>
                                 <li>
                                    <button type="button" class="btn btn-link noWrap addVehicleBtn ng-isolate-scope" data-ng-click="openAddVehicle()" data-gm-track-link="MiniGarage:AddVehicle" data-track-delay="true" data-track-type="o" data-prop10="MiniGarage:Button:Add Vehicle">
                                    View all
                                    </button>
                                 </li>
                                 <li>
                                    <button type="button" class="btn btn-primary btn-right addVehicleBtn ng-isolate-scope" data-ng-click="openAddVehicle()" data-gm-track-link="MiniGarage:AddVehicle" data-track-delay="true" data-track-type="o" data-prop10="MiniGarage:Button:Add Vehicle">
                                    <span aria-hidden="true" class="icon-ui-adddot"></span>
                                    Add Vehicle
                                    </button>
                                 </li>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </li>
      </ul>
   </div>


   <div class="top-nav-items-right collapse" id="bs-example-navbar-collapse-1">
      <ul class="list-inline">
         <li>
            <div class="top-nav-item">
               <div class="search">
                  <a href="#0" data-toggle="dropdown">
                     <span class="icon-newnav-search"></span>
                     Search
                  </a>
                  <ul class="top-nav-dropdown-menu">
                     <li><input type="text" class="form-control" placeholder="Search..."></li>
                  </ul>
                  <input type="text" class="form-control" placeholder="Search...">
               </div>
            </div>
         </li><li>
            <div class="top-nav-item active">
               <div class="notifications">
                  <a href="#0" data-toggle="dropdown">
                     <span class="icon-newnav-notification"></span>
                     <div class="note-count">20</div>
                     Notifications
                  </a>
                  <div class="top-nav-dropdown-menu">
                     <div class="title">
                        <h5>
                           Notifications
                        </h5>
                        <a class="icon-ui-close" href=""></a>
                     </div>
                     <div class="body">
                        <div class="container">
                           <div class="row">
                              <ul class="notes">
                                 <li class="col-xs-12">
                                    <div class="note">
                                       <span aria-hidden="true" class="icon-graphic-messages"></span>
                                       <p><strong>2012 Chevrolet Volt</strong></p>
                                       <p>Lorem ipsum</p>
                                    </div>
                                 </li>
                                 <li class="col-xs-12">
                                    <div class="note">
                                       <span aria-hidden="true" class="icon-graphic-messages"></span>
                                       <p><strong>2012 Chevrolet Volt</strong></p>
                                       <p>Lorem ipsum</p>
                                    </div>
                                 </li>
                                 <li class="col-xs-12">
                                    <div class="note read">
                                       <span aria-hidden="true" class="icon-graphic-messagesopen"></span>
                                       <p><strong>2012 Chevrolet Volt</strong></p>
                                       <p>Lorem ipsum</p>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="footer">
                        <button type="button" class="btn btn-link noWrap addVehicleBtn ng-isolate-scope" data-ng-click="openAddVehicle()" data-gm-track-link="MiniGarage:AddVehicle" data-track-delay="true" data-track-type="o" data-prop10="MiniGarage:Button:Add Vehicle">
                        See all notifications
                        </button>
                     </div>
                  </div>
               </div>
               <div class="notifications-mobile">
                  <a href="#0">
                     Notifications
                     <div class="note-count">20</div>
                  </a>
               </div>
            </div>
         </li><li>
            <div class="top-nav-item">
               <a href="#0">
                  <span class="icon-newnav-key"></span>
                  Commands
               </a>
            </div>
         </li><li>
            <div class="top-nav-item">
               <a href="#0" data-toggle="dropdown">
                  <span class="icon-newnav-account"></span>
                  Account
                  <div class="menu-arrow-default">
                     <span class="icon-ui-arrowdown"></span>
                  </div>
                  <div class="menu-arrow-open">
                     <span class="icon-ui-arrowup"></span>
                  </div>
               </a>
               <div class="top-nav-dropdown-menu">
                  <div class="title">
                     <h5>
                        Brandon Cool
                     </h5>
                     <a class="icon-ui-close" href=""></a>
                  </div>
                  <div class="body">
                     <div class="container">
                        <div class="row">
                           <ul class="top-nav-dropdown-menu">
                              <li><a href="#0">Overview</a></li>
                              <li><a href="#0">Personal Information</a></li>
                              <li><a href="#0">Services and Accounts</a></li>
                              <li><a href="#0">Communication Preferences</a></li>
                              <li><a href="#0">Opt-in Programs</a></li>
                              <li class="divider"></li>
                              <li><a href="#0">Log Out</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </li>
      </ul>
   </div>
</div>

   <div class="side-nav">
      <div class="side-nav-items collapse" id="bs-example-navbar-collapse-2">
         <ul>
            <li>
               <div class="side-nav-item">
                  <a href="#0" data-toggle="dropdown">
                     <span class="icon-newnav-vehicle"></span>
                     Vehicle
                     <div class="menu-arrow-default">
                        <span class="icon-ui-arrowdown"></span>
                     </div>
                     <div class="menu-arrow-open">
                        <span class="icon-ui-arrowup"></span>
                     </div>
                  </a>
                  <ul class="side-nav-dropdown-menu">
                     <li><a href="#0">Overview</a></li>
                     <li><a href="#0">Learn</a></li>
                     <li><a href="#0">Preferences</a></li>
                     <li><a href="#0">Smart Driver Long menu item will wrap</a></li>
                  </ul>
               </div>
            </li>
            <li>
               <div class="side-nav-item">
                  <a href="#0" data-toggle="dropdown" class="active">
                     <span class="icon-newnav-clipboard"></span>
                     Maintenance
                     <div class="menu-arrow-default">
                        <span class="icon-ui-arrowdown"></span>
                     </div>
                     <div class="menu-arrow-open">
                        <span class="icon-ui-arrowup"></span>
                     </div>
                  </a>
                  <ul class="side-nav-dropdown-menu">
                     <li><a href="#0">Home</a></li>
                     <li><a href="#0">Settings</a></li>
                     <!-- <li class="divider"></li> -->
                     <li><a href="#0">Shop</a></li>
                     <li><a href="#0">About</a></li>
                     <li><a href="#0">Help</a></li>
                  </ul>
               </div>
            </li>
            <li>
               <div class="side-nav-item">
                  <a href="#0">
                     <span class="icon-newnav-map"></span>
                     Navigation
                  </a>
               </div>
            </li>
            <li>
               <div class="side-nav-item">
                  <a href="#0">
                     <span class="icon-newnav-shop"></span>
                     Collection
                  </a>
               </div>
            </li>
            <li>
               <div class="side-nav-item">
                  <a href="#0">
                     <span class="icon-newnav-onstar"></span>
                     OnStar
                  </a>
               </div>
            </li>
            <li>
               <div class="side-nav-item">
                  <a href="#0" data-toggle="dropdown" class="active">
                     <span class="icon-newnav-help"></span>
                     Help
                     <div class="menu-arrow-default">
                        <span class="icon-ui-arrowdown"></span>
                     </div>
                     <div class="menu-arrow-open">
                        <span class="icon-ui-arrowup"></span>
                     </div>
                  </a>
                  <ul class="side-nav-dropdown-menu">
                     <li><a href="#0">Overview</a></li>
                     <li><a href="#0">Learn</a></li>
                  </ul>
               </div>
            </li>
         </ul>
      </div>
   </div>

   <!-- <div class="menu-background"></div> -->
   <div class="page-content">
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?"

   Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC

   "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."

   1914 translation by H. Rackham




              </div>
          </div>
      </div>
   </div>
