

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Alerts</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h1><small>Info</small></h1>

            <div class="alert alert-info">
                <span aria-hidden="true" class="icon-ui-info"></span>
                <div class="panel-body-alert info">
                    <h6>This is my Info alert
                    that requires attention before proceeding.
It can include an internal link, such as <a href="#">Log In.</a></h6>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
<pre>
<code class="html">
    <span>&lt;div</span> <span>class=</span><span>"alert alert-info"</span><span>&gt;</span>
        <span>&lt;span aria-hidden="true" class="icon-ui-info"&gt;&lt;/span&gt;</span>
        <span>&lt;div class="panel-body-alert info"&gt;</span>
            <span>&lt;h6&gt;This is my Info alert that requires attention before proceeding. It can include an internal link, such as &lt;a href="#"&gt;Log In.&lt;/a&gt;&lt;/h6&gt;</span>
        <span>&lt;/div&gt;</span>
    <span>&lt;/div&gt;</span>
</code>
</pre>
        </div>

    </div>

    
    <div class="row">
        <div class="col-xs-12">
            <h1><small>Success</small></h1>

            <div class="alert alert-success alert-dismissable">
                <span aria-hidden="true" class="icon-ui-check"></span>

                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                <span aria-hidden="true" class="icon-ui-closedot"></span>
                </button> 

                <div class="panel-body-alert success">
                    <p><strong>This is my Success alert</strong></p>
                    <p>Success supporting text</p> 
                </div>
            </div>

        </div>

        <div class="col-xs-12">
<pre>
<code class="html">
    <span>&lt;div</span> <span>class=</span><span>"alert alert-success alert-dismissable"</span><span>&gt;</span>
        <span>&lt;span aria-hidden="true" class="icon-ui-check"&gt;&lt;/span&gt;</span>
        <span>&lt;button type="button" class="close" data-dismiss="alert" aria-hidden="true"&gt;</span>
            <span>&lt;span aria-hidden="true" class="icon-ui-closedot"&gt;&lt;/span&gt;</span>
        <span>&lt;button&gt;</span>
        <span>&lt;div class="panel-body-alert success"&gt;</span>
            <span>&lt;p&gt;&lt;strong&gt;This is my Success alert&lt;/strong&gt;&lt;/p&gt;</span>
            <span>&lt;p&gt;Success supporting text&lt;/p&gt;</span>
        <span>&lt;/div&gt;</span>
    <span>&lt;/div&gt;</span>
</code>
</pre>
        </div>

    </div>



    <div class="row">
        <div class="col-xs-12">
            <h1><small>Danger</small></h1>
    
            <div class="alert alert-danger">
                <span aria-hidden="true" class="icon-ui-attention"></span>

                 <div class="panel-body-alert danger">
                    <p><strong>This is my Danger alert</strong></p>
                    <p>Danger supporting text</p>
                    <ul>
                        <li>Error item 1</li>
                        <li>Error item 2</li>
                        <li>Error item 3</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
<pre>
<code class="html">
    <span>&lt;div</span> <span>class=</span><span>"alert alert-danger"</span><span>&gt;</span>
        <span>&lt;span aria-hidden="true" class="icon-ui-attention"&gt;&lt;/span&gt;</span>
        <span>&lt;div class="panel-body-alert danger"&gt;</span>
            <span>&lt;p&gt;&lt;strong&gt;This is my Danger alert&lt;/strong&gt;&lt;/p&gt;</span>
            <span>&lt;p&gt;Danger supporting text&lt;/p&gt;</span>
            <span>&lt;ul&gt;</span>
                <span>&lt;li&gt;Error item 1&lt;/li&gt;</span>
                <span>&lt;li&gt;Error item 2&lt;/li&gt;</span>
                <span>&lt;li&gt;Error item 3&lt;/li&gt;</span>
            <span>&lt;/ul&gt;</span>
        <span>&lt;/div&gt;</span>
    <span>&lt;/div&gt;</span>
</code>
</pre>
        </div>

    </div>


   <div class="row">
        <div class="col-xs-12">
            <h1><small>OVD Status</small></h1>

            <div class="alert alert-ovd">
                <img src="../img/ovd-status-green-lg.png">
                <div class="panel-body-alert ovd">
                    <p><strong>This is my Danger alert</strong></p>
                    <p>Danger supporting text</p>
                    <ul>
                        <li>Error item 1</li>
                        <li>Error item 2</li>
                        <li>Error item 3</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>


    </div>



</div>