
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Animation</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h1><small>{{example}}</small></h1>



            <div class="alert alert-info">
                <span aria-hidden="true" class="icon-ui-info"></span>
                <div class="panel-body-alert info">
                    <h6>This is {{example}} my Info alert
                    that requires attention before proceeding. It can include an internal link, such as <a href="#">Log In.</a></h6>
                </div>
            </div>


        </div>
    </div>
</div>
