

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Buttons + Links</h1>
            <hr>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1><small>Button: Default</small></h1>
                <div class="stacked-buttons">
                    <a href="#" class="btn btn-default">Default</a>
                    <a href="#" class="btn btn-default"><span aria-hidden="true" class="icon-ui-view"></span>Icon</a>
                    <a href="#" class="btn btn-default" disabled="disabled">Disabled</a>
                </div>

            <div class="row margin-top-medium">
                <div class="col-xs-12">
                    <pre>
                    <code class="html">
&lt;div class=&quot;stacked-buttons&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-default&quot;&gt;Default&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-default&quot;&gt;&lt;span aria-hidden=&quot;true&quot; class=&quot;icon-ui-view&quot;&gt;&lt;/span&gt;Icon&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-default&quot; disabled=&quot;disabled&quot;&gt;Disabled&lt;/a&gt;
&lt;/div&gt;
                    </code>
                    </pre>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <h1><small>Button: Default Inline</small></h1>
                <div class="inline-buttons">
                    <a href="#" class="btn btn-default">Default</a>
                    <a href="#" class="btn btn-default"><span aria-hidden="true" class="icon-ui-view"></span>Icon</a>
                    <a href="#" class="btn btn-default" disabled="disabled">Disabled</a>
                </div>

            <div class="row margin-top-medium">
                <div class="col-xs-12">
                    <pre>
                    <code class="html">
&lt;div class=&quot;inline-buttons&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-default&quot;&gt;Default&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-default&quot;&gt;&lt;span aria-hidden=&quot;true&quot; class=&quot;icon-ui-view&quot;&gt;&lt;/span&gt;Icon&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-default&quot; disabled=&quot;disabled&quot;&gt;Disabled&lt;/a&gt;
&lt;/div&gt;
                    </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>Button: Primary</small></h1>
                <div class="stacked-buttons">
                    <a href="#" class="btn btn-primary">Primary</a>
                    <a href="#" class="btn btn-primary"><span aria-hidden="true" class="icon-ui-add"></span>Icon</a>
                    <a href="#" class="btn btn-primary" disabled="disabled">Disabled</a>
                </div>

            <div class="row margin-top-medium">
                <div class="col-xs-12">
                    <pre>
                    <code class="html">
&lt;div class=&quot;stacked-buttons&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;Primary&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot;&gt;&lt;span aria-hidden=&quot;true&quot; class=&quot;icon-ui-add&quot;&gt;&lt;/span&gt;Icon&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-primary&quot; disabled=&quot;disabled&quot;&gt;Disabled&lt;/a&gt;
&lt;/div&gt;
                    </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>Button: Secondary</small></h1>
                <div class="stacked-buttons">
                    <a href="#" class="btn btn-secondary">Secondary</a>
                    <a href="#" class="btn btn-secondary"><span aria-hidden="true" class="icon-ui-add"></span>Icon</a>
                    <a href="#" class="btn btn-secondary" disabled="disabled">Disabled</a>
                </div>

            <div class="row margin-top-medium">
                <div class="col-xs-12">
                    <pre>
                    <code class="html">
&lt;div class=&quot;stacked-buttons&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-secondary&quot;&gt;Secondary&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-secondary&quot;&gt;&lt;span aria-hidden=&quot;true&quot; class=&quot;icon-ui-add&quot;&gt;&lt;/span&gt;Icon&lt;/a&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-secondary&quot; disabled=&quot;disabled&quot;&gt;Disabled&lt;/a&gt;
&lt;/div&gt;
                    </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <h1><small>Link: Default</small></h1>
            <ul class="list-inline">
                <li>
                    <a href="#" type="button" class="btn btn-link">Link</a>
                </li>
                <li>
                    <a href="https://dribbble.com/" class="btn btn-link">Link with Icon <span aria-hidden="true" class="icon-ui-newwindow"></span></a>
                </li>
            </ul>


            <div class="row margin-top-medium">
                <div class="col-xs-12">
                    <pre>
                    <code class="html">
&lt;ul class=&quot;list-inline&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot; type=&quot;button&quot; class=&quot;btn btn-link&quot;&gt;Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;https://dribbble.com/&quot; class=&quot;btn btn-link&quot;&gt;Link with Icon&lt;span aria-hidden=&quot;true&quot; class=&quot;icon-ui-newwindow&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
                    </code>
                    </pre>
                </div>
            </div>
        </div>

<div class="col-sm-12">
            <h1><small>Link: Default Stacked</small></h1>
            <ul>
                <li><a href="#" type="button" class="btn btn-link">Link</a></li>
                <li><a href="https://dribbble.com/" class="btn btn-link">Link with Icon <span aria-hidden="true" class="icon-ui-newwindow"></span></a></li>
            </ul>

            <div class="row margin-top-medium">
                <div class="col-xs-12">
                    <pre>
                    <code class="html">
&lt;ul&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot; type=&quot;button&quot; class=&quot;btn btn-link&quot;&gt;Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;https://dribbble.com/&quot; class=&quot;btn btn-link&quot;&gt;Link with Icon&lt;span aria-hidden=&quot;true&quot; class=&quot;icon-ui-newwindow&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
                    </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-12">
            <h1><small>Links Secondary</small></h1>
            <ul class="list-inline">
                <li><a href="#" class="btn btn-link-secondary">Secondary Link</a></li>
                <li><a href="#" class="btn btn-link-secondary">Secondary Link with Icon <span aria-hidden="true" class="icon-ui-newwindow"></span></a></li>
            </ul>


            <div class="row margin-top-medium">
                <div class="col-xs-12">
                    <pre>
                    <code class="html">
&lt;ul class=&quot;list-inline&quot;&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-link-secondary&quot;&gt;Secondary Link&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;btn btn-link-secondary&quot;&gt;Secondary Link with Icon&lt;span aria-hidden=&quot;true&quot; class=&quot;icon-ui-newwindow&quot;&gt;&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
                    </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>


</div>
