

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Buttons + Links</h1>
            <hr>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h1><small>Default Button</small></h1>
            <a href="#" class="btn btn-default">Default</a>
            <a href="#" class="btn btn-default"><span aria-hidden="true" class="icon-ui-view"></span>Icon</a>
            <a href="#" class="btn btn-default" disabled="disabled">Disabled</a>

            <div class="row margin-top-medium">
                <div class="col-xs-12">
                    <pre>
                    <code class="html">
<span>&lt;a href="#" class="btn btn-default"&gt;Default&lt;/a&gt;</span>

<span>&lt;a href="#" class="btn btn-default"&gt;</span><span>&lt;span aria-hidden="true" class="icon-ui-view"&gt;&lt;/span&gt;Default<span>&lt;/a&gt;</span>

<span>&lt;a href="#" class="btn btn-default disabled="disabled"&gt;Disabled&lt;/a&gt;</span>
                    </code>
                    </pre>
                </div>
            </div>
        </div>


        <div class="col-sm-4">
            <h1><small>Primary Button</small></h1>
                <a href="#" class="btn btn-primary">Primary</a>
                <a href="#" class="btn btn-primary"><span aria-hidden="true" class="icon-ui-add"></span>Icon</a>
                <a href="#" class="btn btn-primary" disabled="disabled">Disabled</a>

            <div class="row margin-top-medium">
                <div class="col-xs-12">
                    <pre>
                    <code class="html">
<span>&lt;a href="#" class="btn btn-primary&gt;</span>Primary&lt;/a&gt;</span>

<span>&lt;a href="#" class="btn btn-primary"&gt;</span><span>&lt;span aria-hidden="true" class="icon-ui-add"&gt;&lt;/span&gt;Icon<span>&lt;/a&gt;</span>

<span>&lt;a href="#" class="btn btn-primary disabled="disabled"&gt;Disabled&lt;/a&gt;</span>
                    </code>
                    </pre>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <h1><small>Secondary Button</small></h1>
                <a href="#" class="btn btn-secondary">Secondary</a>
                <a href="#" class="btn btn-secondary"><span aria-hidden="true" class="icon-ui-add"></span>Icon</a>
                <a href="#" class="btn btn-secondary" disabled="disabled">Disabled</a>

            <div class="row margin-top-medium">
                <div class="col-xs-12">
                    <pre>
                    <code class="html">
<span>&lt;a href="#" class="btn btn-secondary&gt;</span>Secondary&lt;/a&gt;</span>

<span>&lt;a href="#" class="btn btn-secondary"&gt;</span><span>&lt;span aria-hidden="true" class="icon-ui-add"&gt;&lt;/span&gt;Icon<span>&lt;/a&gt;</span>

<span>&lt;a href="#" class="btn btn-secondary disabled="disabled"&gt;Disabled&lt;/a&gt;</span>
                    </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-sm-6">
            <h1><small>Links</small></h1>
            <ul class="list-inline">
                <li><a href="#" type="button" class="btn btn-link">Link</a></li>
                <li><a href="https://dribbble.com/" class="btn btn-link">Link with Icon<span aria-hidden="true" class="icon-ui-newwindow"></span></a></li>
            </ul>


            <div class="row margin-top-medium">
                <div class="col-xs-12">
                    <pre>
                    <code class="html">
<span>&lt;a href="#" class="btn btn-link"&gt;</span>Link&lt;/a&gt;</span>

<span>&lt;a href="#" class="btn btn-link"&gt;</span><span>&lt;span aria-hidden="true" class="icon-ui-newwindow"&gt;&lt;/span&gt;Link with Icon<span>&lt;/a&gt;</span>
                    </code>
                    </pre>
                </div>
            </div>
        </div>


        <div class="col-sm-6">
            <h1><small>Links Secondary</small></h1>
            <ul class="list-inline">
                <li><a href="#" class="btn btn-link-secondary">Secondary Link</a></li>
                <li><a href="#" class="btn btn-link-secondary">Secondary Link with Icon<span aria-hidden="true" class="icon-ui-newwindow"></span></a></li>
            </ul>


            <div class="row margin-top-medium">
                <div class="col-xs-12">
                    <pre>
                    <code class="html">
<span>&lt;a href="#" class="btn btn-link-secondary"&gt;</span>Secondary Link&lt;/a&gt;</span>

<span>&lt;a href="#" class="btn btn-link-secondary"&gt;</span><span>&lt;span aria-hidden="true" class="icon-ui-newwindow"&gt;&lt;/span&gt;Secondary Link with Icon<span>&lt;/a&gt;</span>
                    </code>
                    </pre>
                </div>
            </div>
        </div>


    </div>


    <div class="row">
        <div class="col-sm-12">
            <h1><small>3 up</small></h1>
            <a href="#" type="button" class="btn btn-primary btn-left">Link</a>
            <a href="#" type="button" class="btn btn-primary btn-left">Link</a>
            <a href="#" type="button" class="btn btn-default btn-left">Link</a>
        </div>

    </div>


</div>
