

<div class="container">
    <h1>Colors</h1>
    <hr>  
        
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1><small>Brand Colors:</small></h1>
        </div>
    </div>
    <div class="row margin-bottom-medium">
        <div class="col-xs-2 col-sm-2">
            <div class="color-block brandcolor-chevy"></div>
            <h6 class="brandcolor-chevy-text">Chevrolet</h6>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block brandcolor-buick"></div>
            <h6 class="brandcolor-buick-text">Buick</h6>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block brandcolor-gmc"></div>
            <h6 class="brandcolor-gmc-text">GMC</h6>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block brandcolor-cadillac"></div>
            <h6 class="brandcolor-cadillac-text">Cadillac</h6>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block brandcolor-gm"></div>
            <h6 class="brandcolor-gm-text">GM</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>Gray:</small></h1>
        </div>
    </div>
    <div class="row margin-bottom-medium">
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-darkest"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-darker"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-dark"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-light"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-lighter"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>Blue:</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2">
            <div class="color-block blue-dark"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block blue"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block blue-light"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block blue-lighter"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h1><small>Aqua:</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2">
            <div class="color-block blue-aqua"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>Yellow:</small></h1>
        </div>
    </div>
    <div class="row margin-bottom-medium">
        <div class="col-xs-2 col-sm-2">
            <div class="color-block yellow"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>Green:</small></h1>
        </div>
    </div>
    <div class="row margin-bottom-medium">
        <div class="col-xs-2 col-sm-2">
            <div class="color-block green"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block green-light"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block green-lighter"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>Red:</small></h1>
        </div>
    </div>
    <div class="row margin-bottom-medium">
        <div class="col-xs-2 col-sm-2">
            <div class="color-block red"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block red-light"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block red-lighter"></div>
        </div>
    </div>




</div>
 