

<div class="container">
    <h1>Colors</h1>
    <hr>  
        
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1><small>Grays:</small></h1>
        </div>
    </div>
    <div class="row margin-bottom-medium">
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-darker"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-dark"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-light"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-stroke"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-lighter-stroke">
                <p>Gray text</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>Yellows:</small></h1>
        </div>
    </div>
    <div class="row margin-bottom-medium">
        <div class="col-xs-2 col-sm-2">
            <div class="color-block yellow-dark"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block yellow"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block yellow-light"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block yellow-stroke"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-lighter-stroke">
                <p class="yellow-text">Yellow text</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>Greens:</small></h1>
        </div>
    </div>
    <div class="row margin-bottom-medium">
        <div class="col-xs-2 col-sm-2">
            <div class="color-block green"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block green-light"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block green-stroke"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-lighter-stroke">
                <p class="green-text">Green text</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>Reds:</small></h1>
        </div>
    </div>
    <div class="row margin-bottom-medium">
        <div class="col-xs-2 col-sm-2">
            <div class="color-block red"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block red-light"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block red-stroke"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-lighter-stroke">
                <p class="red-text">Red text</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>Blue:</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2 col-sm-2">
            <div class="color-block blue"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block blue-stroke"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-lighter-stroke">
                <p class="blue-text">Blue text</p>
            </div>
        </div>
    </div>


</div>
 