

<div class="container">
    <h1>Containers</h1>
    <hr>  
        
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1><small>Default</small></h1>
        </div>
    </div>

    <div class="row margin-bottom-medium">
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-dark"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-stroke"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>Rounded Small</small></h1>
        </div>
    </div>

    <div class="row margin-bottom-medium">
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-dark rounded-small"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-stroke rounded-small"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h1><small>Rounded Large</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-dark rounded-large"></div>
        </div>
        <div class="col-xs-2 col-sm-2">
            <div class="color-block gray-stroke rounded-large"></div>
        </div>
    </div>


</div>
 
     
    
    