
<!-- this was added to stop the browser popping when scrollbar appeared

<style>
    body {
        overflow: scroll;
    }
</style>
                  -->


<div class="container margin-bottom-large">
    <h1>Expand / Collapse </h1>
    <hr>
    <div class="subHeadline">for Warranty & Recalls</div>
</div>






<div class="container">

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-8 ">

            <div class="panel panel-secondary "><!-- start primary panel -->

                <div class="panel-heading ">
                    <h3 class="panel-title closePanel">Service item</h3>
                </div>

                <div class="panel-contents ">
                    <div class="panel-body"><!-- start panel content -->

                        <div class="row">
                            <div class="col-xs-12">
                                <p>Serviced By 1:</p>

                                <ul class="margin-bottom-none">
                                    <li><strong>Covert Chevrolet</strong></li>
                                    <li>Address</li>
                                    <li>Phone #</li>
                                </ul>

                                <hr>

                                <p>Service Performed:</p>

                                <ul class="margin-bottom-none">
                                    <li>Oil Change</li>
                                    <li>A/C Serviced</li>
                                </ul>



                            </div>
                        </div>



                    </div><!-- endpanel content -->

                    <div class="panel-bg-extend-border gray-light">
                        <ul class="list-inline margin-bottom-none">
                            <li>Notes: Used 10w-30 Pennzoil</li>
                        </ul>
                    </div>

                </div>
            </div><!-- end primary panel -->
        </div>


        <div class="col-xs-12 col-sm-12 col-md-8 ">

            <div class="panel panel-secondary "><!-- start primary panel -->

                <div class="panel-heading ">
                    <h3 class="panel-title closePanel">Service item</h3>
                </div>

                <div class="panel-contents ">
                    <div class="panel-body"><!-- start panel content -->

                        <div class="row">
                            <div class="col-xs-12">
                                <p>Serviced By 1:</p>

                                <ul class="margin-bottom-none">
                                    <li><strong>Covert Chevrolet</strong></li>
                                    <li>Address</li>
                                    <li>Phone #</li>
                                </ul>

                                <hr>

                                <p>Service Performed:</p>

                                <ul class="margin-bottom-none">
                                    <li>Oil Change</li>
                                    <li>A/C Serviced</li>
                                </ul>



                            </div>
                        </div>



                    </div><!-- endpanel content -->

                    <div class="panel-bg-extend-border gray-light">
                        <ul class="list-inline margin-bottom-none">
                            <li>Notes: Used 10w-30 Pennzoil</li>
                        </ul>
                    </div>

                </div>
            </div><!-- end primary panel -->
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 ">

            <div class="panel panel-secondary "><!-- start primary panel -->

                <div class="panel-heading ">
                    <h3 class="panel-title closePanel">Service item</h3>
                </div>

                <div class="panel-contents ">
                    <div class="panel-body"><!-- start panel content -->

                        <div class="row">
                            <div class="col-xs-12">
                                <p>Serviced By 1:</p>

                                <ul class="margin-bottom-none">
                                    <li><strong>Covert Chevrolet</strong></li>
                                    <li>Address</li>
                                    <li>Phone #</li>
                                </ul>

                                <hr>

                                <p>Service Performed:</p>

                                <ul class="margin-bottom-none">
                                    <li>Oil Change</li>
                                    <li>A/C Serviced</li>
                                </ul>



                            </div>
                        </div>



                    </div><!-- endpanel content -->

                    <div class="panel-bg-extend-border gray-light">
                        <ul class="list-inline margin-bottom-none">
                            <li>Notes: Used 10w-30 Pennzoil</li>
                        </ul>
                    </div>

                </div>
            </div><!-- end primary panel -->
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 ">

            <div class="panel panel-secondary "><!-- start primary panel -->

                <div class="panel-heading ">
                    <h3 class="panel-title closePanel">Service item</h3>
                </div>

                <div class="panel-contents ">
                    <div class="panel-body"><!-- start panel content -->

                        <div class="row">
                            <div class="col-xs-12">
                                <p>Serviced By 1:</p>

                                <ul class="margin-bottom-none">
                                    <li><strong>Covert Chevrolet</strong></li>
                                    <li>Address</li>
                                    <li>Phone #</li>
                                </ul>

                                <hr>

                                <p>Service Performed:</p>

                                <ul class="margin-bottom-none">
                                    <li>Oil Change</li>
                                    <li>A/C Serviced</li>
                                </ul>



                            </div>
                        </div>



                    </div><!-- endpanel content -->

                    <div class="panel-bg-extend-border gray-light">
                        <ul class="list-inline margin-bottom-none">
                            <li>Notes: Used 10w-30 Pennzoil</li>
                        </ul>
                    </div>

                </div>
            </div><!-- end primary panel -->
        </div>


    </div>


     
    
   </div>
















<script>


    $( document ).ready( function(){
        var width = $(window).width();
        var bodyVisible = false;

        $(window).resize(function(){
            if($(this).width() != width){
                width = $(this).width();
                console.log("this")
                checkWidth();
            }
        });
        function checkWidth(){
            bodyVisible = false;

            //if($(window).width() < 970){
                hideMobileWidgets();
           // }else{
            //    showWidgets();
            //}
        }
        function hideMobileWidgets (){

            $(".panel-contents:not(:first)").slideUp();

            $(".panelShow:not(:first)").slideDown();
            $(".panelHide:first").show();
            $(".panelIcon:first").hide();

            $(".panel-heading").unbind( "click" );
            $(".panel-heading").click(function() {



                var myBody = $(this).parent().find(".panel-contents");

                var myHide = $(this).parent().find(".panelHide");
                var myShow = $(this).parent().find(".panelShow");



                bodyVisible = $(myBody).is(':visible');

                if(bodyVisible){

                    console.log(bodyVisible)

                    $(".panel-contents").slideUp( "fast", function() {
                        //complete
                        bodyVisible = false;
                    });

                    $(myShow).show();
                    $(myHide).hide();

                }else{

                    $(".panel-contents").not(myBody).slideUp( "fast", function() {
                        //complete
                    });

                    $(".panelHide").not(myBody).hide();
                    $(".panelShow").not(myBody).show();


                    $(myShow).hide();
                    $(myHide).show();

                    //$(this).css("background-color","#ffffff");
                   // $(this).find(".panel-title")".css("color","#000000")


                    $(myBody).slideDown( "fast", function() {
                        //complete

                    });

                }

            });
        }
        function showWidgets(){
            $(".panel-heading").unbind( "click" );
            $(".panel-contents").slideDown( "fast", function() {
                //complete
                $(".panelHide").hide();
                $(".panelShow").hide();
            });
            $(".panelHide").hide();
            $(".panelShow").hide();
            $(".panelIcon").show();
        }
        function addClose(){
            var myString = "<div class='pull-right'>";
            myString += "<div class='panelHide' style='display:none'><span aria-hidden='true' class='icon-ui-minusfill'></span></div>";
            myString += "<div class='panelShow' style='display:none'><span aria-hidden='true' class='icon-ui-addfill'></span></div>";
            myString += "</div>";

            $(".closePanel").append(myString);
        }

        addClose();
        checkWidth();

        //$(".panelHide").slideUp();
        //$(".panelShow").slideUp();

    });

</script>
