

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Expand/Collapse</h1>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-xs-12 col-sm-6">
            <h1><small>Default</small></h1>

            <div class="panel-group">

                <div class="panel panel-default-expand">
                    <div class="panel-heading-expand" id="something">
                        <span data-toggle="collapse" href="#collapseOne" aria-hidden="true" class="icon-ui-arrowdown"></span>
                        <span data-toggle="collapse" href="#collapseOne" aria-hidden="true" class="icon-ui-arrowup" style="display: none"></span>
                        <h5 class="panel-title-expand">Title</h5>
                        
                    </div>

                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default-expand">
                    <div class="panel-heading-expand">
                        <span data-toggle="collapse" href="#collapseTwo" aria-hidden="true" class="icon-ui-arrowdown"></span>
                        <span data-toggle="collapse" href="#collapseTwo" aria-hidden="true" class="icon-ui-arrowup" style="display: none"></span>
                        <div class="panel-title-expand">
                            <div class="pull-left">
                                <h3>
                                    <span data-toggle="collapse" href="#collapseTwo" aria-hidden="true" class="icon-ui-checkfill green-text"></span>
                                </h3>
                            </div>
                            <h5>Title with Icon</h5>
                        </div>
                    </div>

                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

                <div class="panel panel-default-expand">
                    <div class="panel-heading-expand">
                        <span data-toggle="collapse" href="#collapseThree" aria-hidden="true" class="icon-ui-arrowdown"></span>
                        <span data-toggle="collapse" href="#collapseThree" aria-hidden="true" class="icon-ui-arrowup" style="display: none"></span>
                        <div class="panel-title-expand">
                            <div class="pull-left">
                                <h3>
                                    <span data-toggle="collapse" href="#collapseThree" aria-hidden="true" class="icon-ui-attentionfill red-text"></span>
                                </h3>
                            </div>
                            <h5>Title with Icon</h5>
                            <p>Supporting text Here</p>
                        </div>
                    </div>

                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>

            </div>
        </div>



      




    </div>
</div>


<script>

    $( document ).ready( function(){

        var bodyVisible = false;
        var clicked = false;

        $(".panel-heading-expand").click(function() {

            //prevent double action on click
            if(!clicked){

                var myBody = $(this).parent().find(".panel-collapse");
                var myIcon = $(this).parent().find(".icon-ui-arrowdown");
                var myTitle = $(this).parent().find(".panel-title-expand");
                var checkBox = $(this).parent().find(".icon-ui-checkfill");
                var alertArrow = $(this).parent().find(".icon-ui-attentionfill");

                var attentionOutline = $(this).parent().find(".icon-ui-attentionoutline");

                var plusBox = $(this).parent().find(".icon-ui-arrowdown");
                var minusBox = $(this).parent().find(".icon-ui-arrowup");

                var myHead = $(this);



                bodyVisible = $(myBody).is(':visible');

                if(bodyVisible){

                    $(minusBox).hide();
                    $(plusBox).show();
                    $(plusBox).first().css("color","#1f478c");
                    $(checkBox).first().css("color","#7fb306");
                    $(attentionOutline).first().css("color","#bf2828");
                    $(alertArrow).first().css("color","#bf2828");
                    $(myHead).css("background-color","white");

                }else{

                    $(plusBox).hide();
                    $(minusBox).show();
                    $(minusBox).first().css("color","#1f478c");
                    $(checkBox).first().css("color","#7fb3063");
                    $(alertArrow).first().css("color","bf2828");
                    $(attentionOutline).first().css("color","#bf2828");
                    $(myHead).css("background-color","white");

                }

                console.log("-- "+myIcon)


                clicked = true;

                $(myIcon).click();

                setTimeout(function(){
                    clicked = false;
                },500);
            }

        });


    });



</script>


