<nav class="navbar navbar-default" role="navigation">



  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand" href="index.html">GM OwnerCenter - Style Guide</a>

<!--     <button type="button" class="navbar_leftNav">
      <span class="sr-only">Toggle Left Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button> -->

  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav list-unstyled">
<!--       <li class="active"><a href="index.html">Home</a></li> -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Elements<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="index.html?p=alerts">Alerts</a></li>
          <li><a href="index.html?p=buttons">Buttons</a></li>
          <li><a href="index.html?p=colors">Colors</a></li>
          <li><a href="index.html?p=datepicker">Date Picker</a></li>
          <li><a href="index.html?p=expand-collapse">Expand Collapse</a></li>
          <li><a href="index.html?p=forms">Forms</a></li>
          <li><a href="index.html?p=icons">Icons</a></li>
          <li><a href="index.html?p=lists">Lists</a></li>
          <li><a href="index.html?p=modal">Modal</a></li>

          <li><a href="index.html?p=pagination">Pagination</a></li>
          <li><a href="index.html?p=popovers">Pop Overs</a></li>
          <li><a href="index.html?p=strengthMeter">Password Strength Meter</a></li>
          <li><a href="index.html?p=tabs">Tabs</a></li>
          <li><a href="index.html?p=tables">Tables</a></li>
          <li><a href="index.html?p=typography">Typography</a></li>

        </ul>
      </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Widgets<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="index.html?widget=global-footer">Footer</a></li>
<!--                 <li><a href="index.html?widget=account">Account</a></li>
                <li><a href="index.html?widget=finance">Finance</a></li> -->
<!--                 <li><a href="index.html?widget=garage">Garage</a></li> -->
<!--                 <li><a href="index.html?widget=bluetooth">Bluetooth</a></li> -->
<!-- 
                <li><a href="index.html?widget=informational">Informational</a></li> -->
<!--                 <li><a href="index.html?widget=servicerecord">Service Record</a></li> -->
<!--                 <li><a href="index.html?widget=subscription">Subscription</a></li> -->
                <li><a href="index.html?widget=card-default">Card - Default</a></li>
                <li><a href="index.html?widget=card-brand">Card - Brand</a></li>
                <li><a href="index.html?widget=card-secondary">Card - Secondary</a></li>
                <li><a href="index.html?widget=card-tertiary">Card - Tertiary</a></li>
                <li><a href="index.html?widget=card-without-header">Card - Without Header</a></li>
<!--                 <li><a href="index.html?widget=warranty">Warranty</a></li> -->
                <!-- <li><a href="index.html?widget=ovd">OVD</a></li> -->
                <!-- <li><a href="index.html?widget=vehicle-info">Vehicle Info</a></li> -->
<!--                 <li><a href="index.html?widget=cards">Cards</a></li> -->
                <li><a href="index.html?widget=card-four-column">Card - Four Column</a></li>
<!--                 <li><a href="index.html?widget=related-links">Related Links</a></li> -->
<!--                 <li><a href="index.html?widget=article">Article</a></li> -->
            </ul>
        </li>

<!-- 
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">3.0<b class="caret"></b></a>
        <ul class="dropdown-menu">
           <li><a href="index.html?p=3-navigation">Navigation</a></li>
           <li><a href="index.html?p=3-navigation-flex">Navigation Flex</a></li>

        </ul>
      </li> -->

    </ul>

  </div>
</nav>
