<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

<!-- Main jumbotron for a primary marketing message or call to action -->
<!--     <div class="jumbotron" style="background-image:url('img/carBanner_1.jpg');"> -->
      <div class="container">
          <div class="page-header">
                <h1>GMOC-2.0 Online Design System</h1>
          </div>
                <p class="lead">The GMOC-2.0 Online Design System is a tool to ensure design and code consistency for the OC2.0 web application. It is here to speed efficiency for the production phase of the GMOC-2.0 web application.</p><p class="lead margin-top-small">Please utilize the tool, and if you have any questions or cannot find a particular design style please <a href="mailto:david.j.baker@gm.com">submit and inquiry</a>.</p>



<!--               <ul class="list-inline-pipe">
                  <a href="mailto:david.j.baker@gm.com">Questions</a>
              </ul> -->



      </div>
<!--     </div> -->
