
<div class="container">
	<div class="row">
		<div class="col-xs-12">
		    <h1>Iconography:</h1>
		    <hr>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h1><small>Icons UI</small></h1>
		</div>

		<div class="col-xs-6">
			<h1><small>Icons Graphic</small></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<ul class="list-unstyled">
				<li>
					<span aria-hidden="true" class="icon-ui-account"></span> icon-ui-accountwe
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-add"></span> icon-ui-add
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-adddot"></span> icon-ui-adddot
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-addfill"></span> icon-ui-addfill
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-arrowdown"></span> icon-ui-arrowdown
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-arrowleft"></span> icon-ui-arrowleft
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-arrowright"></span> icon-ui-arrowright
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-arrowup"></span> icon-ui-arrowup
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-arrowdownfill"></span> icon-ui-arrowdownfill
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-arrowleftfill"></span> icon-ui-arrowleftfill
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-arrowrightfill"></span> icon-ui-arrowrightfill
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-arrowupfill"></span> icon-ui-arrowupfill
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-attention"></span> icon-ui-attention
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-attentionfill"></span> icon-ui-attentionfill
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-attentionoutline"></span> icon-ui-attentionoutline
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-bargraph"></span> icon-ui-bargraph
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-calendar"></span> icon-ui-calendar
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-change"></span> icon-ui-change
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-chat"></span> icon-ui-chat
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-check"></span> icon-ui-check
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-checkfill"></span> icon-ui-checkfill
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-close"></span> icon-ui-close
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-closedot"></span> icon-ui-closedot
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-closefill"></span> icon-ui-closefill
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-directions"></span> icon-ui-directions
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-download"></span> icon-ui-download
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-edit"></span> icon-ui-edit
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-globe"></span> icon-ui-globe
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-grid"></span> icon-ui-grid
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-help"></span> icon-ui-help
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-info"></span> icon-ui-info
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-infofill"></span> icon-ui-infofill
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-linegraph"></span> icon-ui-linegraph
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-list"></span> icon-ui-list
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-minus"></span> icon-ui-minus
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-minusfill"></span> icon-ui-minusfill
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-newwindow"></span> icon-ui-newwindow
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-notification"></span> icon-ui-notification
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-print"></span> icon-ui-print
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-refresh"></span> icon-ui-refresh
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-save"></span> icon-ui-save
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-search"></span> icon-ui-search
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-swoop"></span> icon-ui-swoop
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-table"></span> icon-ui-table
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-trash"></span> icon-ui-trash
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-upload"></span> icon-ui-upload
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-video"></span> icon-ui-video
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-videofullscreen"></span> icon-ui-videofullscreen
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-videominimize"></span> icon-ui-videominimize
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-videooutline"></span> icon-ui-videooutline
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-videopause"></span> icon-ui-videopause
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-videoplay"></span> icon-ui-videoplay
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-videovolume"></span> icon-ui-videovolume
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-view"></span> icon-ui-view
				</li>
				<li>
					<span aria-hidden="true" class="icon-ui-view-document"></span> icon-ui-view-document
				</li>
			</ul>
		</div>


		<div class="col-xs-6">
			<ul class="list-unstyled">
				<li>
					<span aria-hidden="true" class="icon-graphic-addvehicle"></span> icon-graphic-addvehicle
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-bluetooth"></span> icon-graphic-bluetooth
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-buick"></span> icon-graphic-buick
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-cadillac"></span> icon-graphic-cadillac
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-car"></span> icon-graphic-car
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-cellphone"></span> icon-graphic-cellphone
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-chargedelayed"></span> icon-graphic-chargedelayed
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-chargeimmediate"></span> icon-graphic-chargeimmediate
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-chargeratedelayed"></span> icon-graphic-chargeratedelayed
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-checkbox"></span> icon-graphic-checkbox
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-chevrolet"></span> icon-graphic-chevrolet
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-clipboard"></span> icon-graphic-clipboard
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-coffee"></span> icon-graphic-coffee
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-dashboard"></span> icon-graphic-dashboard
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-document"></span> icon-graphic-document
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-documentoutline"></span> icon-graphic-documentoutline
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-electric"></span> icon-graphic-electric
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-featurearticles"></span> icon-graphic-featurearticles
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-garage"></span> icon-graphic-garage
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-gm"></span> icon-graphic-gm
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-gmc"></span> icon-graphic-gmc
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-graph"></span> icon-graphic-graph
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-graphchart"></span> icon-graphic-graphchart
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-keys"></span> icon-graphic-keys
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-learnabout"></span> icon-graphic-learnabout
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-location"></span> icon-graphic-location
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-map"></span> icon-graphic-map
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-messages"></span> icon-graphic-messages
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-messagesopen"></span> icon-graphic-messagesopen
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-mileage"></span> icon-graphic-mileage
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-mobile"></span> icon-graphic-mobile
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-nav"></span> icon-graphic-nav
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-notifications"></span> icon-graphic-notifications
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-offers"></span> icon-graphic-offers
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-oillife"></span> icon-graphic-oillife
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-oillifemeter"></span> icon-graphic-oillifemeter
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-onstar"></span> icon-graphic-onstar
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-phone"></span> icon-graphic-phone
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-pluggedin"></span> icon-graphic-pluggedin
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-profile"></span> icon-graphic-profile
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-pulse"></span> icon-graphic-pulse
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-recalls"></span> icon-graphic-recalls
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-secure"></span> icon-graphic-secure
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-service"></span> icon-graphic-service
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-shop"></span> icon-graphic-shop
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-shopbag"></span> icon-graphic-shopbag
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-star"></span> icon-graphic-star
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-time"></span> icon-graphic-time
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-tools"></span> icon-graphic-tools
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-truck"></span> icon-graphic-truck
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-unplugged"></span> icon-graphic-unplugged
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-vehicles"></span> icon-graphic-vehicles
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-warranty"></span> icon-graphic-warranty
				</li>
				<li>
					<span aria-hidden="true" class="icon-graphic-wifi"></span> icon-graphic-wifi
				</li>
			</ul>
		</div>
	</div>

</div>
