
  <!-- Brand and toggle get grouped for better mobile display -->
 

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="navigation">
    <div class="nav nav-stacked">
<!--       <li class="active"><a href="index.html">Home</a></li> -->
      
          <div class="dropdown">
            <div class="navHeadline"><span>Welcome Jeff</span></div>
            <ul class="">
                <li><a href="templateA_recalls.html"><div aria-hidden="true" class="icon-ui-arrowright"></div><div aria-hidden="true" class="icon-graphic-dashboard" style=></div><div>Template A - Recalls</div></a></li>
                </ul>
              </div>
        
        
        <div class="dropdown">
            <div class="navHeadline"><span>Templates</span></div>
            <ul class="">
                <li class="active"><a href="templateA_recalls.html"><div aria-hidden="true" class="icon-ui-arrowright"></div><div aria-hidden="true" class="icon-graphic-document" style=></div><div>Template A - Recalls</div></a></li>
                <li><a href="templateA_servicehistory.html"><div aria-hidden="true" class="icon-ui-arrowright"></div><div aria-hidden="true" class="icon-graphic-service" style=></div><div>Template A - Service History</div></a></li>
                <li><a href="templateA_warranty.html"><div aria-hidden="true" class="icon-ui-arrowright"></div><div aria-hidden="true" class="icon-graphic-electric" style=></div><div>Template A - Warranty</div></a></li>
                <li><a href="templateD.html"><div aria-hidden="true" class="icon-ui-arrowright"></div><div aria-hidden="true" class="icon-ui-edit" style=></div><div>Template D - Forms / Alerts</div></a></li>
                <li><a href="templateC_account.html"><div aria-hidden="true" class="icon-ui-arrowright"></div><div aria-hidden="true" class="icon-ui-linegraph" style=></div><div>Template C - Account</div></a></li>
                <li><a href="templateC_garage.html"><div aria-hidden="true" class="icon-ui-arrowright"></div><div aria-hidden="true" class="icon-graphic-car" style=></div><div>Template C - Garage</div></a></li>

                <li><a href="templateB_contact.html"><div aria-hidden="true" class="icon-ui-arrowright"></div><div aria-hidden="true" class="icon-graphic-messages" style=></div><div>Template B - Contact</div></a></li>
            </ul>
        </div>

        <div class="dropdown">
            <div class="navHeadline"><span>Explore More</span></div>
            <ul class="">
                <li><a href="http://chevrolet.com" target="_blank"><div aria-hidden="true" class="icon-ui-arrowright"></div><div aria-hidden="true" class="icon-graphic-car" style=></div><div>Visit Chevrolet.com</div></a></li>
            </ul>
        </div>
        
    </div>
    
  </div><!-- /.navbar-collapse -->


