

<div class="container">
    <h1>Modal</h1>
    <hr>  
        


    <div class="row">
        <div class="col-sm-12">
            <h1><small>Modal Window</small></h1>
            <div class="stacked-buttons">
                <a data-toggle="modal" data-target="#myModal" class="btn btn-primary">Launch</a>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <h1><small>Modal Drawer</small></h1>
            <div class="stacked-buttons">
                <a data-toggle="modal" href="#myModalDrawer" class="btn btn-primary">Launch</a>
            </div>
        </div>
    </div>



    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <div class="page-header-button">
                <h1>Modal Title</h1>
                <button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true" class="icon-ui-closedot"></span></button>
            </div>
          </div>
          <div class="modal-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="modal-footer">
            <div class="modal-footer-content">
                <div class="inline-buttons-right">
                    <a href="#" class="btn btn-secondary btn-left" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-primary btn-left">Continue</a>
                </div>
            </div>
          </div>

        </div>
      </div>
    </div>






    <div id="myModalDrawer" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <div class="modal-dialog-drawer">
        <div class="modal-content">

          <div class="modal-body modal-drawer">
            <div class="row">
              <div class="col-xs-12">

                <div class="page-header-button">
                    <h1>Modal Title</h1>
                    <button type="button" class="close-modal" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true" class="icon-ui-closedot"></span></button>
                </div>



                <h6>Title</h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <ul class="list-styled">
                    <li>Item 1</li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                </ul>

        <div class="row">
            <div class="col-xs-12 margin-bottom-medium clearfix">
                <label class="margin-bottom-none">Field Label</label>
                <p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Text input">
                </div>
            </div>
        </div>

              </div>
            </div>
          </div>

                    <div class="modal-footer">
            <div class="modal-footer-content">
                <div class="inline-buttons-right">
                    <a href="#" class="btn btn-secondary btn-left" data-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-primary btn-left">Continue</a>
                </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>




<!-- DBaker: On second click of same modal launch, makes the modal scroll to top so heading of modal can be read. -->
<script>

  $('#myModal').on('shown.bs.modal', function () {
      $('#myModal').animate({ scrollTop: 0 }, 'fast');
  });


</script>


<script>

  $('#myModalDrawer').on('shown.bs.modal', function () {
     $('#myModalDrawer').animate({ scrollTop: 0 }, 'fast');
  });

</script>


