<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h1>NOO - Forms</h1>
            <hr>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <h1><small>Checkboxes</small></h1>
        </div>
    </div>


    <form role="form">
        <div class="row">
            <div class="col-xs-12 margin-bottom-medium">
               <label class="margin-bottom-none">Field Label</label>
               <p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
               <div class="form-group">
                  <div class="row">
                     <div class="col-xs-12">
                         <ul class="checkbox-list margin-bottom-none">
                             <li>
                               <label>
                                 <span class="checkbox">
                                   <input type="checkbox" name="foo" value="2">
                                   <span class="noo-checkbox-value" aria-hidden="true"></span>
                                 </span>
                                 <div class="margin-left-xl">Option 1</div>
                               </label>
                             </li>
                             <li>
                               <label>
                                 <span class="checkbox">
                                   <input type="checkbox" name="foo" value="2">
                                   <span class="noo-checkbox-value" aria-hidden="true"></span>
                                 </span>
                                 <div class="margin-left-xl">Option 2</div>
                               </label>

                             </li>
                         </ul>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-xs-12">
               <pre>
                 <code class="html">
&lt;div class=&quot;col-xs-12 margin-bottom-medium&quot;&gt;
   &lt;label class=&quot;margin-bottom-none&quot;&gt;Field Label&lt;/label&gt;
   &lt;p class=&quot;help-block&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;
   &lt;div class=&quot;form-group&quot;&gt;
      &lt;div class=&quot;row&quot;&gt;
         &lt;div class=&quot;col-xs-12&quot;&gt;
            &lt;ul class=&quot;checkbox-list margin-bottom-none&quot;&gt;
               &lt;li&gt;
                  &lt;label&gt;
                     &lt;span class=&quot;checkbox&quot;&gt;
                        &lt;input type=&quot;checkbox&quot; name=&quot;foo&quot; value=&quot;2&quot;&gt;
                        &lt;span class=&quot;noo-checkbox-value&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
                     &lt;/span&gt;
                     &lt;div class="margin-left-xl"&gt;Option 1&lt;/div&gt;
                  &lt;/label&gt;
               &lt;/li&gt;
               &lt;li&gt;
                  &lt;label&gt;
                     &lt;span class=&quot;checkbox&quot;&gt;
                        &lt;input type=&quot;checkbox&quot; name=&quot;foo&quot; value=&quot;2&quot;&gt;
                        &lt;span class=&quot;noo-checkbox-value&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
                     &lt;/span&gt;
                     &lt;div class="margin-left-xl"&gt;Option 2&lt;/div&gt;
                  &lt;/label&gt;
               &lt;/li&gt;
            &lt;/ul&gt;
         &lt;/div&gt;
      &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
                 </code>
               </pre>
            </div>
        </div>
    </form>




    <div class="row">
        <div class="col-sm-6">
            <h1><small>Radio Buttons - Vertical</small></h1>
        </div>
    </div>


    <form role="form">
        <div class="row">
            <div class="col-xs-12 margin-bottom-medium">
                <label class="margin-bottom-none">Field Label</label>
                <p class="help-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="radio-list margin-bottom-none">
                                <li>
                                  <label>
                                    <span class="radio">
                                      <input type="radio" name="foo" value="2">
                                      <span class="noo-radio-value" aria-hidden="true"></span>
                                    </span>
                                    <div class="margin-left-xl">Option 1</div>
                                  </label>
                                </li>
                                <li>
                                  <label>
                                    <span class="radio">
                                      <input type="radio" name="foo" value="2">
                                      <span class="noo-radio-value" aria-hidden="true"></span>
                                    </span>
                                    <div class="margin-left-xl">Option 2</div>
                                  </label>
                                </li>
                                <li>
                                  <label class="disabled">
                                    <span class="radio" disabled>
                                      <input type="radio" name="foo" value="2" disabled>
                                      <span class="noo-radio-value" aria-hidden="true"></span>
                                    </span>
                                    Disabled
                                  </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
               <pre>
                 <code class="html">
&lt;div class=&quot;col-xs-12 margin-bottom-medium&quot;&gt;
   &lt;label class=&quot;margin-bottom-none&quot;&gt;Field Label&lt;/label&gt;
   &lt;p class=&quot;help-block&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&lt;/p&gt;
   &lt;div class=&quot;form-group&quot;&gt;
       &lt;div class=&quot;row&quot;&gt;
           &lt;div class=&quot;col-xs-12&quot;&gt;
               &lt;ul class=&quot;radio-list margin-bottom-none&quot;&gt;
                   &lt;li&gt;
                     &lt;label&gt;
                       &lt;span class=&quot;radio&quot;&gt;
                         &lt;input type=&quot;radio&quot; name=&quot;foo&quot; value=&quot;2&quot;&gt;
                         &lt;span class=&quot;noo-radio-value&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
                       &lt;/span&gt;
                       &lt;div class="margin-left-xl"&gt;Option 1&lt;/div&gt;
                     &lt;/label&gt;
                   &lt;/li&gt;
                   &lt;li&gt;
                     &lt;label&gt;
                       &lt;span class=&quot;radio&quot;&gt;
                         &lt;input type=&quot;radio&quot; name=&quot;foo&quot; value=&quot;2&quot;&gt;
                         &lt;span class=&quot;noo-radio-value&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
                       &lt;/span&gt;
                       &lt;div class="margin-left-xl"&gt;Option 2&lt;/div&gt;
                     &lt;/label&gt;
                   &lt;/li&gt;
                   &lt;li&gt;
                     &lt;label class=&quot;disabled&quot;&gt;
                       &lt;span class=&quot;radio&quot; disabled&gt;
                         &lt;input type=&quot;radio&quot; name=&quot;foo&quot; value=&quot;2&quot; disabled&gt;
                         &lt;span class=&quot;noo-radio-value&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
                       &lt;/span&gt;
                       &lt;div class="margin-left-xl"&gt;Disabled&lt;/div&gt;
                     &lt;/label&gt;
                   &lt;/li&gt;
               &lt;/ul&gt;
           &lt;/div&gt;
       &lt;/div&gt;
   &lt;/div&gt;
&lt;/div&gt;
                 </code>
               </pre>
            </div>
        </div>
    </form>


    <div class="row">
        <div class="col-sm-6">
            <h1><small>Radio Buttons - Horizontal</small></h1>
        </div>
    </div>


   <form role="form">
      <div class="row">
         <div class="col-xs-12 col-xs-3">
            <label class="control-label">Field Label</label>
         </div>
         <div class="col-xs-12 col-sm-9 margin-bottom-medium">
            <ul class="radio-list-inline margin-bottom-none">
               <li>
                  <label>
                     <span class="radio">
                        <input type="radio" name="foo" value="1">
                        <span class="noo-radio-value" aria-hidden="true"></span>
                     </span>
                     <div class="margin-left-xl">Option 1</div>
                  </label>
               </li>
               <li>
                  <label>
                     <span class="radio">
                        <input type="radio" name="foo" value="2">
                        <span class="noo-radio-value" aria-hidden="true"></span>
                     </span>
                     <div class="margin-left-xl">Option 2</div>
                  </label>
               </li>
            </ul>
         </div>

         <div class="col-xs-12">
            <pre>
              <code class="html">
&lt;div class=&quot;col-xs-12 col-xs-3&quot;&gt;
   &lt;label class=&quot;control-label&quot;&gt;Field Label&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;col-xs-12 col-sm-9 margin-bottom-medium&quot;&gt;
   &lt;ul class=&quot;radio-list-inline margin-bottom-none&quot;&gt;
      &lt;li&gt;
         &lt;label&gt;
            &lt;span class=&quot;radio&quot;&gt;
               &lt;input type=&quot;radio&quot; name=&quot;foo&quot; value=&quot;1&quot;&gt;
               &lt;span class=&quot;noo-radio-value&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
            &lt;/span&gt;
            &lt;div class="margin-left-xl"&gt;Option 1&lt;/div&gt;
         &lt;/label&gt;
      &lt;/li&gt;
      &lt;li&gt;
         &lt;label&gt;
            &lt;span class=&quot;radio&quot;&gt;
               &lt;input type=&quot;radio&quot; name=&quot;foo&quot; value=&quot;2&quot;&gt;
               &lt;span class=&quot;noo-radio-value&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
            &lt;/span&gt;
            &lt;div class="margin-left-xl"&gt;Option 2&lt;/div&gt;
         &lt;/label&gt;
      &lt;/li&gt;
   &lt;/ul&gt;
&lt;/div&gt;
              </code>
            </pre>
         </div>
      </div>
   </form>






</div>
