

<div class="container">
    <h1>NOO - Typogsdsdraphy</h1>
    <hr>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1><small>Headings:</small></h1>
            <h3 class="noo">Heading 3</h3>
        </div>
        <div class="col-xs-12">
           <pre>
             <code class="html">
<span>&lt;h3 class="noo"&gt;Heading 3&lt;/h3&gt;</span>
             </code>
           </pre>
        </div>
    </div>
</div>

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <h1><small>Page Header:</small></h1>
      </div>
   </div>
</div>

<div class="noo-page-header margin-bottom-medium">
   <div class="container">
      <div class="row">

         <div class="col-xs-12">
            <h1>Page Header</h1>
         </div>

      </div>
   </div>
</div>

<div class="container">
   <div class="row">
      <div class="col-xs-12">
         <pre>
           <code class="html">
 &lt;div class=&quot;noo-page-header&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
       &lt;div class=&quot;row&quot;&gt;

          &lt;div class=&quot;col-xs-12&quot;&gt;
             &lt;h1&gt;Page Header&lt;/h1&gt;
          &lt;/div&gt;

       &lt;/div&gt;
    &lt;/div&gt;
 &lt;/div&gt;
           </code>
         </pre>
      </div>
   </div>
</div>

<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <h1><small>Section Header:</small></h1>
      </div>
   </div>
</div>

<div class="noo-section-header margin-bottom-medium">
   <div class="container">
      <div class="row">
         <div class="col-xs-12">
            <h3>Section Header</h3>
         </div>
      </div>
   </div>
</div>

<div class="container">
   <div class="row">
      <div class="col-xs-12">
         <pre>
           <code class="html">
 &lt;div class=&quot;noo-section-header&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
       &lt;div class=&quot;row&quot;&gt;
          &lt;div class=&quot;col-xs-12&quot;&gt;
             &lt;h3&gt;Section Header&lt;/h3&gt;
          &lt;/div&gt;
       &lt;/div&gt;
    &lt;/div&gt;
 &lt;/div&gt;
           </code>
         </pre>
      </div>
   </div>
</div>
