

<div class="container">
    <h1>Pagination</h1>
    <hr>  
        
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1><small>Default</small></h1>
            <ul class="list-inline pagination">
                <li class="previous">
                    <a href="#" class="btn btn-link"><span aria-hidden="true" class="icon-ui-arrowleft"></span> Previous</a>
                </li>
                <li>
                    <a href="#" class="btn btn-link">1</a>
                </li>
                <li>
                    <a href="#" class="btn btn-link">2</a>
                </li>
                <li>
                    <a href="#" class="btn btn-link">3</a>
                </li>
                <li>
                    <a href="#" class="btn btn-link">4</a>
                </li>
                <li class="disabled">
                    <a href="#" class="btn btn-link">5</a>
                </li>
                <li>
                    <a href="#" class="btn btn-link">6</a>
                </li>
                <li>
                    <a href="#" class="btn btn-link">7</a>
                </li>
                <li>
                    <a href="#" class="btn btn-link">8</a>
                </li>
                <li>
                    <a href="#" class="btn btn-link">9</a>
                </li>
                <li>
                    <a href="#" class="btn btn-link">10</a>
                </li>
                <li class="next">
                    <a href="#" class="btn btn-link">Next <span aria-hidden="true" class="icon-ui-arrowright"></span></a>
                </li>

            </ul>
        </div>
      
    </div>

   

</div>
 
     
    
    