

<div class="container">
    <h1>Pagination</h1>
    <hr>  
        
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1><small>Default</small></h1>
            <ul class="list-inline pagination">
                <li class="previous">
                    <a href="#" class="btn btn-primary"><span aria-hidden="true" class="icon-ui-arrowleft"></span></a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li class="disabled">
                    <a href="#">5</a>
                </li>
                
                <li class="next">
                    <a href="#" class="btn btn-primary"><span aria-hidden="true" class="icon-ui-arrowright"></span></a>
                </li>

            </ul>
        </div>
      
    </div>

   

</div>
 
     
    
    