<div class="container">

  <div class="row">
      <div class="col-xs-12">
          <h1>Password Strength meter</h1>
          <hr>
      </div>
  </div>
              
  <div class="row">
      <div class="col-xs-6">
          <label class="margin-bottom-none">Choose a password:</label>
          <p class="help-block">Passwords must be at least this long, and contain these specific things, and can't contain these other things</p>
          <div class="form-group">
              <input type="text" class="form-control gmocPasswordField" placeholder="Choose a password">  
          </div>
          <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
          </div> 
          <div class="progressBody"></div>
          </div>
      </div>
  </div>

 </div>



<script src="js/components/strengthMeter.js"></script>
