


<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Tables</h1>
			<hr>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1><small>Radio </small></h1>

				<table class="responsive">
    				
<!-- 					<tr>
						<th>Header 1</th>
						<th>Header 2</th>
						<th>Header 3</th>
						<th>Header 4</th>
						<th>Header 5</th>
						<th>Header 6</th>
						<th>Header 7</th>
						<th>Header 8</th>
					</tr> -->
					<tbody>
						<tr>
								<td>
									<ul class="radio-list margin-bottom-none">
                                		<li>
                                 			<label>
                                    			<span class="radio">
                                      				<input type="radio" name="foo" value="2">
                                      				<span class="radio-value" aria-hidden="true"></span>
                                    			</span>
                                 			 </label>
                                		</li>
                                	</ul>
                                </td>
								<td>Account # *****2922</td>
								<td>2016 Chevrolet Equinox LTZ</td>
						</tr>
						<tr>
								<td>
									<ul class="radio-list margin-bottom-none">
                                		<li>
                                 			<label>
                                    			<span class="radio">
                                      				<input type="radio" name="foo" value="2">
                                      				<span class="radio-value" aria-hidden="true"></span>
                                    			</span>
                                 			 </label>
                                		</li>
                                	</ul>
                                </td>
								<td>Account # *****2922</td>
								<td>2016 Chevrolet Equinox LTZ</td>
						</tr>
						<tr>
								<td>
									<ul class="radio-list margin-bottom-none">
                                		<li>
                                 			<label>
                                    			<span class="radio">
                                      				<input type="radio" name="foo" value="2">
                                      				<span class="radio-value" aria-hidden="true"></span>
                                    			</span>
                                 			 </label>
                                		</li>
                                	</ul>
                                </td>
								<td>Account # *****2922</td>
								<td>2016 Chevrolet Equinox LTZ</td>
						</tr>
					</tbody>
    					
        		</table>
			</div>
		</div>
	</div>
</div>



<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1><small>Default</small></h1>

			<div class="table-default">
				<table>
					<thead>
						<tr>
							<!-- <th>Specifications</th> -->
							<th>Category 1 Title</th>
							<th>Category 2 Title</th>
							<th>Category 3 Title</th>
							<!-- <th>More Details</th> -->
						</tr>
					</thead>
					<tbody>
						<tr class="parent">
							<td><span><strong>Category 1 Title </strong></span>Value 1</td>
							<td><span><strong>Category 2 Title </strong></span>Value 2</td>
							<td><span><strong>Category 3 Title </strong></span>Value 3</td>
						</tr>


						<tr class="parent" >
							<td><span><strong>Category 1 Title </strong></span>Value 1</td>
							<td><span><strong>Category 2 Title </strong></span>Value 2</td>
							<td><span><strong>Category 3 Title </strong></span>Value 3</td>
						</tr>

						<tr class="parent" >
							<td><span><strong>Category 1 Title </strong></span>Value 1</td>
							<td><span><strong>Category 2 Title </strong></span>Value 2</td>
							<td><span><strong>Category 3 Title </strong></span>Value 3</td>
						</tr>

						<tr class="parent" >
							<td><span><strong>Category 1 Title </strong></span>Value 1</td>
							<td><span><strong>Category 2 Title </strong></span>Value 2</td>
							<td><span><strong>Category 3 Title </strong></span>Value 3</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>










