

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Tabs</h1>
            <hr>
        </div>
    </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <h1><small>Tabs</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">


            <ul class="tabs">
                <li data-toggle="tab" href="#menu1">Menu 1</li>
                <li data-toggle="tab" href="#menu2">Menu 2</li>
                <li data-toggle="tab" href="#menu3">Menu 3</li>
            </ul>


            <div class="tab-content">

                <p class="accordian-tab-title dave" data-toggle="tab" href="#menu1">Menu 1</p>

                <div id="menu1" class="tab-pane">
                    <h3>Menu 1</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisiUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. ut aliquip ex ea commodo consequat.</p>
                </div>


                <p class="accordian-tab-title" data-toggle="tab" href="#menu2">Menu 2</p>

                <div id="menu2" class="tab-pane">
                    <h3>Menu 2</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>


                <p class="accordian-tab-title" data-toggle="tab" href="#menu3">Menu 3</p>

                <div id="menu3" class="tab-pane">
                    <h3>Menu 3</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>

            </div>

        </div>
     </div>






    <div class="row">
        <div class="col-xs-12">
            <h1><small>Button Tabs</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <ul id="tab" class="btn-group-tab" data-toggle="buttons-radio">
              <a href="#prices" class="btn btn-tab" data-toggle="tab">Yes</a>
              <a href="#features" class="btn btn-tab" data-toggle="tab">No</a>
            </ul>

            <div class="tab-content">
              <div class="tab-pane" id="prices">Yes</div>
              <div class="tab-pane" id="features">No</div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h1><small>Pill Tabs</small></h1>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <ul class="pill-tabs" data-toggle="buttons">
                <button type="button" class="btn btn-pill-tab active" href="#option1" data-toggle="tab">Yes</button>
                <button type="button" class="btn btn-pill-tab" href="#option2" data-toggle="tab">No</button>
                <button type="button" class="btn btn-pill-tab" href="#option3" data-toggle="tab">Maybe</button>
            </ul>

            <div class="pill-content">
              <div class="pill-pane active" id="option1">Yes</div>
              <div class="pill-pane" id="option2">No</div>
              <div class="pill-pane" id="option3">Maybe</div>
            </div>

        </div>
    </div>

</div>
