

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Tabs</h1>
            <hr>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1><small>Button Tabs</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            <ul id="tab" class="btn-group-tab" data-toggle="buttons-radio">
              <a href="#prices" class="btn btn-tab" data-toggle="tab">Yes</a>
              <a href="#features" class="btn btn-tab" data-toggle="tab">No</a>
            </ul>

            <div class="tab-content">
              <div class="tab-pane" id="prices">Yes</div>
              <div class="tab-pane" id="features">No</div>
            </div>

        </div>
    </div>

<div class="row">
        <div class="col-xs-12">
            <h1><small>Pill Tabs</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ul class="pill-tabs" data-toggle="buttons">
                <button type="button" class="btn btn-pill-tab active" href="#option1" data-toggle="tab">Yes</button>
                <button type="button" class="btn btn-pill-tab" href="#option2" data-toggle="tab">No</button>
                <button type="button" class="btn btn-pill-tab" href="#option3" data-toggle="tab">Maybe</button>
            </ul>

            <div class="pill-content">
              <div class="pill-pane active" id="option1">Yes</div>
              <div class="pill-pane" id="option2">No</div>
              <div class="pill-pane" id="option3">Maybe</div>
            </div>

        </div>
    </div>

</div>
